data/output/*
*.Rhistory
src/07 evaluating/Local/.Rhistory
src/02 composing initial dataset/Local/.Rhistory
*.pyc
data/input/5TIFs
data/input/TooBigData
rosm.cache/osm/10_525_336.png
rosm.cache/osm/10_525_337.png
rosm.cache/osm/10_526_336.png
rosm.cache/osm/10_526_337.png
data/input/SpatialPlaces/Bayreuth.cpg
data/input/SpatialPlaces/Bayreuth.dbf
data/input/SpatialPlaces/Bayreuth.prj
data/input/SpatialPlaces/Bayreuth.sbn
data/input/SpatialPlaces/Bayreuth.sbx
data/input/SpatialPlaces/Bayreuth.shp
data/input/SpatialPlaces/Bayreuth.shp.xml
data/input/SpatialPlaces/Bayreuth.shx
data/input/SpatialPlaces/Hamburg_area.cpg
data/input/SpatialPlaces/Hamburg_area.dbf
data/input/SpatialPlaces/Hamburg_area.prj
data/input/SpatialPlaces/Hamburg_area.sbn
data/input/SpatialPlaces/Hamburg_area.sbx
data/input/SpatialPlaces/Hamburg_area.shp
data/input/SpatialPlaces/Hamburg_area.shp.xml
data/input/SpatialPlaces/Hamburg_area.shx
data/input/SpatialPlaces/Utrecht.cpg
data/input/SpatialPlaces/Utrecht.dbf
data/input/SpatialPlaces/Utrecht.prj
data/input/SpatialPlaces/Utrecht.sbn
data/input/SpatialPlaces/Utrecht.sbx
data/input/SpatialPlaces/Utrecht.shp
data/input/SpatialPlaces/Utrecht.shp.xml
data/input/SpatialPlaces/Utrecht.shx
